@import "tailwindcss";

html,
body,
#app {
  height: 100%;
}

input[data-app-input] {
  border-color: rgba(203, 213, 225, 0.6);
}

input[data-app-input][data-error="true"] {
  border-color: rgba(239, 68, 68, 0.8);
}

input[data-app-input]:focus {
  border-color: #ff8a1f;
}
